In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Passengers (10,000 Sub-Sample) Dataframe

In [2]:
pass10k = pass10k = pd.read_csv('passengers10K.csv', index_col=0)
pass10k.head()

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,...,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source
0,0.0,1.0,2803.0,14.0,6.0,0.0,0.0,5582.0,0.0,0.0,...,US,United States,7,775,1,2015,11,12,L,IF
1,4.0,4.0,274750.0,0.0,0.0,130961.0,7580.0,491.0,359.0,295.0,...,US,United States,6,622,2,2015,5,1,G,DU
2,53.0,47.0,470000.0,2350.0,1537.0,0.0,0.0,642.0,5760.0,4510.0,...,US,United States,6,675,1,2016,2,2,F,DU
3,52.0,47.0,1405300.0,5170.0,4400.0,6976.0,11941.0,1029.0,8875.0,7163.0,...,US,United States,6,608,1,2018,3,3,F,DU
4,1.0,1.0,10000.0,50.0,39.0,0.0,0.0,109.0,56.0,31.0,...,US,United States,6,629,1,2018,6,1,F,DU

Check the shape

In [3]:
pass10k.shape

(10000, 38)

Look at column names, dtypes and status of null or non-null within each column

In [4]:
pass10k.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   departures_scheduled   10000 non-null  float64
 1   departures_performed   10000 non-null  float64
 2   payload                10000 non-null  float64
 3   seats                  10000 non-null  float64
 4   passengers             10000 non-null  float64
 5   freight                10000 non-null  float64
 6   mail                   10000 non-null  float64
 7   distance               10000 non-null  float64
 8   ramp_to_ramp           10000 non-null  float64
 9   air_time               10000 non-null  float64
 10  unique_carrier         10000 non-null  object
 11  airline_id             10000 non-null  int64
 12  unique_carrier_name    10000 non-null  object
 13  region                 10000 non-null  object
 14  carrier                10000 non-null  object
 15  carrier_name           10000 non-null  object
 16  carrier_group          10000 non-null  int64
 17  carrier_group_new      10000 non-null  int64
 18  origin_airport_id      10000 non-null  int64
 19  origin_city_market_id  10000 non-null  int64
 20  origin                 10000 non-null  object
 21  origin_city_name       10000 non-null  object
 22  origin_country         10000 non-null  object
 23  origin_country_name    10000 non-null  object
 24  dest_airport_id        10000 non-null  int64
 25  dest_city_market_id    10000 non-null  int64
 26  dest                   10000 non-null  object
 27  dest_city_name         10000 non-null  object
 28  dest_country           10000 non-null  object
 29  dest_country_name      10000 non-null  object
 30  aircraft_group         10000 non-null  int64
 31  aircraft_type          10000 non-null  int64
 32  aircraft_config        10000 non-null  int64
 33  year                   10000 non-null  int64
 34  month                  10000 non-null  int64
 35  distance_group         10000 non-null  int64
 36  class                  10000 non-null  object
 37  data_source            10000 non-null  object
dtypes: float64(10), int64(13), object(15)
memory usage: 3.0+ MB

Passengers has no empty columns!